<a href="https://colab.research.google.com/github/tmiessa/mdc-quoraquestions/blob/development/mdc_quoraquestions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# MDC 2019 - INF-0619 - Quora Question Pairs

## Alunos
* Matheus Pacheco
* Raphael Santos
* Renato Dias
* Tiago Miessa

## Imports

In [0]:
import sys
import os 
import requests
from zipfile import ZipFile

import pandas as pd
import numpy as np

## Download do Dataset

In [4]:
## train file
if os.path.isfile('train.zip'):
    print('train file already exists!')
else:
    print('train file does not exists, downloading...')
    train_file = requests.get('https://onedrive.live.com/download?cid=F1E435813B40678A&resid=F1E435813B40678A%218143&authkey=AEE59XxW9rUnNpU')
    open('train.zip', 'wb').write(train_file.content)
    print('train file downloaded')
## test file    
if os.path.isfile('test.zip'):
    print('test file already exists!')
else:
    print('test file does not exists, downloading...')
    test_file = requests.get('https://onedrive.live.com/download?cid=F1E435813B40678A&resid=F1E435813B40678A%218144&authkey=ABXANysZKF3-Xa0')
    open('test.zip', 'wb').write(test_file.content)
    print('test file downloaded')

train file does not exists, downloading...
train file downloaded
test file does not exists, downloading...
test file downloaded

In [5]:
## unzip
if os.path.isfile('train.zip'):
    print('unzipping train file...')
    zf_train = ZipFile('train.zip', 'r')
    zf_train.extractall()
    zf_train.close()
    print('train file unzipped')
if os.path.isfile('test.zip'):
    print('unzipping test file...')
    zf_test = ZipFile('test.zip', 'r')
    zf_test.extractall()
    zf_test.close()
    print('test file unzipped')

unzipping train file...
train file unzipped
unzipping test file...
test file unzipped

## Análises Exploratórias

In [0]:
df_train = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')

In [7]:
df_train.head()

   id  qid1  ...                                          question2 is_duplicate
0   0     1  ...  What is the step by step guide to invest in sh...            0
1   1     3  ...  What would happen if the Indian government sto...            0
2   2     5  ...  How can Internet speed be increased by hacking...            0
3   3     7  ...  Find the remainder when [math]23^{24}[/math] i...            0
4   4     9  ...            Which fish would survive in salt water?            0

[5 rows x 6 columns]

In [8]:
df_test.head()

   test_id  ...                                          question2
0        0  ...  Why did Microsoft choose core m3 and not core ...
1        1  ...        How much cost does hair transplant require?
2        2  ...                      What you send money to China?
3        3  ...                                  What foods fibre?
4        4  ...                     How their can I start reading?

[5 rows x 3 columns]